 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: bold;
  font-family: Merriweather, serif;
  margin: 127px 206px 0 181px;
}

.u-section-1 .u-image-1 {
  width: 230px;
  height: 230px;
  margin: -152px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.8;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -26px 272px 60px 247px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-right: 231px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-1 {
    width: 202px;
    height: 202px;
    margin-top: -151px;
    margin-left: -30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -23px;
    margin-right: 215px;
    margin-left: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-right: 64px;
    margin-left: 103px;
  }

  .u-section-1 .u-image-1 {
    width: 143px;
    height: 143px;
    margin-top: -100px;
    margin-left: -33px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
    margin-right: 48px;
    margin-left: 103px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 92px;
    margin-right: -28px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -144px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-image-1 {
    width: 103px;
    height: 103px;
    margin-top: -78px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 360px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -84px;
  margin-bottom: 23px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 454px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 1px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 454px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 454px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 19px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  margin: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1636px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 384px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 384px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 381px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    height: 236px;
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 435px;
  }

  .u-section-2 .u-image-3 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2546px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 70px 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 0px;
  margin: 16px 40px 60px 0;
}

.u-section-3 .u-group-1 {
  width: 404px;
  min-height: 1259px;
  margin: 70px auto 0 -132px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  height: 446px;
  width: 688px;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  width: 700px;
  height: 466px;
  margin: 30px 0 0 auto;
}

.u-section-3 .u-image-3 {
  height: 284px;
  width: 450px;
  margin: -44px 80px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 371px;
    min-height: 1329px;
    margin: 240px 115px 60px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    width: 688px;
    min-height: 889px;
    margin-top: 60px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 38px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -8px;
  }

  .u-section-3 .u-image-2 {
    width: 460px;
    height: 306px;
    margin-top: 38px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    margin: -142px auto 60px 250px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2450px;
  }

  .u-section-3 .u-group-1 {
    width: 479px;
    min-height: 1226px;
    margin-top: -312px;
    margin-right: 0;
    margin-bottom: -796px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
    margin-top: 72px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 59px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-image-1 {
    height: 350px;
    width: 500px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 500px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2171px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 330px;
    min-height: 1683px;
    margin-top: -1342px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    margin-right: -22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 220px;
    width: 300px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 226px;
  }

  .u-section-3 .u-image-3 {
    height: 215px;
    width: 300px;
    margin-top: -62px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1640px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1526px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 762px;
  height: 449px;
  margin: 70px -244px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 793px;
  height: 344px;
  margin: 46px -265px -16px 3px;
}

.u-section-4 .u-image-3 {
  height: 518px;
  width: 829px;
  margin: 23px -311px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 159px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 1685px;
}

.u-section-4 .u-container-layout-3 {
  padding: 26px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 1685px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-group-1 {
  width: 450px;
  min-height: 1271px;
  height: auto;
  margin: 59px auto 0 -219px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1809px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 923px;
    margin: 58px auto -57px 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1368px;
  }

  .u-section-4 .u-image-1 {
    width: 438px;
    height: 350px;
    margin-top: 114px;
    margin-right: -25px;
    margin-left: 12px;
  }

  .u-section-4 .u-image-2 {
    height: 284px;
    width: 450px;
    margin-top: 167px;
    margin-right: 1px;
    margin-left: 6px;
  }

  .u-section-4 .u-image-3 {
    height: 286px;
    width: 445px;
    margin-top: 110px;
    margin-right: -20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 1881px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 1908px;
  }

  .u-section-4 .u-group-1 {
    width: 395px;
    min-height: 1312px;
    margin-top: 121px;
    margin-left: -212px;
    height: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2214px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    object-position: 50% 20.47%;
    background-position: 50% 20.47%;
    width: 338px;
    height: 224px;
    margin-top: 140px;
    margin-right: 146px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 310px;
    height: 177px;
    margin-top: 168px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
    width: 323px;
    margin-top: -647px;
    margin-right: 161px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 5069px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2646px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 628px;
    margin: 1185px -44px 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 547px;
    height: 392px;
    margin-top: 919px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-4 .u-image-2 {
    height: 397px;
    width: 551px;
    margin: -849px auto 0 17px;
  }

  .u-section-4 .u-image-3 {
    height: 332px;
    width: 576px;
    margin-top: -799px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 81px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 646px;
  }

  .u-section-4 .u-group-1 {
    width: 543px;
    min-height: 1061px;
    margin-top: -2035px;
    margin-left: 37px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 33px;
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2346px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin: 1030px -50px 60px auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 330px;
    height: 224px;
    margin-top: 830px;
    margin-left: -45px;
  }

  .u-section-4 .u-image-2 {
    height: 177px;
    width: 340px;
    margin-top: 33px;
    margin-left: -45px;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
    width: 340px;
    margin-top: -653px;
    margin-bottom: -790px;
    margin-left: -50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 50px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1534px;
    width: 340px;
    margin-top: -1355px;
    margin-bottom: -179px;
    margin-left: -45px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 678px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  width: 702px;
  margin: 116px auto 0;
}

.u-section-5 .u-video-1 {
  height: 420px;
  width: 1088px;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  margin: 43px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-5 .u-video-1 {
    height: 363px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 115px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    height: 310px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-video-1 {
    height: 200px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 341px;
}

.u-section-6 .u-image-1 {
  width: 1719px;
  height: 494px;
  margin: 0 auto 0 -506px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  margin: -483px 237px 0 201px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 22px 116px 0 519px;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 11px 116px 0 519px;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 11px 145px 0 490px;
}

.u-section-6 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 13px 108px 0 528px;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 12px 163px 60px 472px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-6 .u-image-1 {
    width: 1373px;
    height: 370px;
    margin-left: -371px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -359px;
    margin-right: 137px;
    margin-left: 101px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
    margin-left: 419px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 16px;
    margin-left: 419px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 45px;
    margin-left: 390px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 8px;
    margin-left: 428px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 63px;
    margin-left: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-6 .u-image-1 {
    width: 1183px;
    height: 372px;
    margin-left: -413px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    text-decoration: underline !important;
    margin-top: -361px;
    margin-right: -99px;
    margin-left: 117px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 216px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    height: 354px;
    width: 644px;
    margin-left: -52px;
    margin-right: -52px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -343px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 35px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 35px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 35px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 36px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-6 .u-image-1 {
    width: 488px;
    height: 393px;
    margin-right: auto;
    margin-left: -98px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -382px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-bottom: 24px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 713px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 633px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 11px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 42px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 24px auto 0 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: -37px auto 0 88px;
}

.u-section-7 .u-icon-2 {
  height: 58px;
  width: 58px;
  color: rgb(255, 255, 255) !important;
  margin: 31px auto 0 30px;
  padding: 5px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: -47px auto 0 98px;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 45px auto 0 30px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: -48px 101px 0 98px;
}

.u-section-7 .u-map-1 {
  width: 500px;
  height: 287px;
  margin: 27px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 633px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 44px 0 24px;
}

.u-section-7 .u-form-1 {
  height: 328px;
  width: 510px;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin: 54px -2px 2px auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-right: 11px;
    margin-left: 88px;
  }

  .u-section-7 .u-map-1 {
    width: 470px;
    margin-top: 31px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-4 {
    height: 25px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-map-1 {
    width: 360px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -40px;
    margin-right: 76px;
    margin-left: 98px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 35px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 23px;
    margin-right: 144px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 785px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -48px;
    margin-right: 10px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 122px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-form-1 {
    margin-left: 0;
    margin-right: 20px;
  }
} .u-section-8 {
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 290px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 25px;
  }
}