 .u-section-1 {
  min-height: 1785px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 59px 437px 0 353px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 543px;
  margin: 19px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1100px;
  margin: 14px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-style: italic;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 30px 10px 29px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 400;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-31 {
  font-weight: 400;
}

.u-block-a0ad-35 {
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: -1080px calc(((100% - 1140px) / 2) + 49px) 0 calc(((100% - 1140px) / 2) + 800px);
}

.u-section-1 .u-btn-21 {
  margin: 19px calc(((100% - 1140px) / 2) + 94px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: 30px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 608px 82px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1736px;
  }

  .u-section-1 .u-text-1 {
    width: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-1 {
    width: 735px;
    margin-top: 19px;
    margin-right: calc(((100% - 940px) / 2) + 69px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -1083px;
    margin-right: calc(((100% - 940px) / 2) + 81px);
    margin-left: calc(((100% - 940px) / 2) + 701px);
  }

  .u-section-1 .u-btn-21 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 81px);
    padding: 9px 16px 11px 15px;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 158px;
    margin-top: 29px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-1 .u-text-4 {
    width: 702px;
    margin: 519px auto 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 277px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -1084px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 548px);
  }

  .u-section-1 .u-btn-21 {
    margin-top: 19px;
    margin-right: calc(((100% - 720px) / 2) + 7px);
  }

  .u-section-1 .u-image-1 {
    height: 159px;
    margin-top: 35px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin: 427px calc(((100% - 720px) / 2) + 80px) 60px calc(((100% - 720px) / 2) + 19px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1949px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 97px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 32px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-1 .u-btn-21 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -142px;
    margin-right: calc(((100% - 540px) / 2) + 16px);
  }

  .u-section-1 .u-text-4 {
    width: 540px;
    margin: 19px 19px -32px 34px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2262px;
  }

  .u-section-1 .u-text-1 {
    width: 161px;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 422px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-table-cell-21 {
    font-weight: 700;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -93px;
    margin-right: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 340px) / 2) + 11px);
    margin-bottom: 45px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }
}