 .u-section-1 {
  min-height: 1576px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px 437px 0 353px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 543px;
  margin: 19px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1100px;
  margin: 14px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-style: italic;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 30px 10px 29px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 400;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-31 {
  font-weight: 400;
}

.u-block-a0ad-35 {
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: -879px calc(((100% - 1140px) / 2) + 32px) 0 calc(((100% - 1140px) / 2) + 817px);
}

.u-section-1 .u-btn-21 {
  margin: 39px calc(((100% - 1140px) / 2) + 101px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: 54px calc(((100% - 1140px) / 2) + 60px) 0 auto;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  margin: 218px auto 0 calc(((100% - 1140px) / 2) + 460px);
}

.u-section-1 .u-text-4 {
  margin: 99px 82px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1606px;
  }

  .u-section-1 .u-text-1 {
    width: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-1 {
    width: 735px;
    margin-top: 19px;
    margin-right: calc(((100% - 940px) / 2) + 69px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -887px;
    margin-right: calc(((100% - 940px) / 2) + 80px);
    margin-left: calc(((100% - 940px) / 2) + 702px);
  }

  .u-section-1 .u-btn-21 {
    margin-top: 36px;
    margin-right: calc(((100% - 940px) / 2) + 81px);
    padding: 9px 16px 11px 15px;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 158px;
    margin-top: 49px;
    margin-right: calc(((100% - 940px) / 2) + 79px);
  }

  .u-section-1 .u-btn-22 {
    margin-top: 192px;
    margin-left: calc(((100% - 940px) / 2) + 381px);
  }

  .u-section-1 .u-text-4 {
    width: 702px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1506px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 62px);
    margin-left: calc(((100% - 720px) / 2) + 115px);
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -926px;
    margin-right: calc(((100% - 720px) / 2) + 18px);
    margin-left: calc(((100% - 720px) / 2) + 569px);
  }

  .u-section-1 .u-btn-21 {
    margin-top: 39px;
    margin-right: calc(((100% - 720px) / 2) + 11px);
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 141px;
    height: 141px;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 18px);
  }

  .u-section-1 .u-btn-22 {
    margin-top: 157px;
    margin-left: calc(((100% - 720px) / 2) + 257px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 8px 59px 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: 97px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 32px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-1 .u-btn-21 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -142px;
    margin-right: calc(((100% - 540px) / 2) + 16px);
  }

  .u-section-1 .u-btn-22 {
    margin-top: -63px;
    margin-left: calc(((100% - 540px) / 2) + 13px);
    padding: 10px 11px 10px 9px;
  }

  .u-section-1 .u-text-4 {
    margin: 36px 19px -171px 34px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2262px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: calc(((100% - 340px) / 2) + 104px);
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 1px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 422px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-table-cell-21 {
    font-weight: 700;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 33px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -57px;
    margin-right: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-1 .u-btn-22 {
    margin-top: -55px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin: 21px auto 11px;
  }
}